@import "main.css";


/* Search */

.search-bar{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}


.destination{ 
    padding-left: 30px;
    color: #fff;
}

input[type="submit"]{
    color: #fff;
} 

.black__text{
    color: #000000;
}
