@import "main.css";
@import "style.css";

.manga-item-img{
    margin: 5% 0;
    display: flex;
    justify-content: center;
}

.manga-item-inner{
    margin: 0 auto;
}

.manga-item-inner img{
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    object-fit: cover;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0;
    color: aliceblue;
    text-align: center;
}

.first-chapter{
    margin: 0 0 20px 0;
    max-width: 500px;
    margin: 0 auto;
    background-color: #1B1B1B;
    padding: 10px;
    border: 1px solid #141414;
    border-radius: 5px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-chapter img{
    width: 250px;
    height: 250px;
    margin-right: 10px;
}

.first-chapter-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-chapter-info h2{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 15px;
    margin: 0;
    margin-left: auto;
}

.btn-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.first-chapter-btn{
    margin-left: auto;
    margin-top: 10px;
    width: 150%;
    background-color: #141414;
    color: #000;
    border: 1px solid #141414;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.all-chapters-list{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: #1B1B1B;
    padding: 10px;
    border: 1px solid #141414;
    border-radius: 5px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    /* make  */
    flex-direction: column;
}

.all-chapters-list img{
    width: 250px;
    height: 250px;
    margin-right: 10px;
}

.manga-illustrations{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


